<html>
<div>
    Microblog:
    <a href="/index">Home</a>
    <a href="/login">Login</a>
    <a href="/message">Message</a>
    <a href="/logout">Logout</a>
    <a href="/websearch">WebSearch</a>
    <a href="/webcalculate">WebCalculate</a>
    <a href="/webimagesearch">WebImageSearch</a>
    <a href="/webconvert">WebCurrencyConvert</a>
</div>
<h1>Введи запрос в гугл</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.query.label }}<br>
            {{ form.query(size=320) }}<br>
            {% for error in form.query.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.pages.label }}<br>
            {{ form.pages(size=320) }}<br>
            {% for error in form.pages.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
<body>
        <h1>Результаты твоих запросов</h1>
        <div><p>{{ current_user.login }} создал запрос: <b>{{ lastQuery[0] }}</b></p></div>
        {% for result in userSearch %}
            <p>
                Имя результата: {{ result.name }}<br>
                Ссылка: {{ result.link }}<br>
                Гугл ссылка: {{ result.google_link }}<br>
                Описание: {{ result.description }}<br>
                thumb: {{ result.thumb }}<br>
                cached: {{ result.cached }}<br>
                Страница: {{ result.page + 1 }}<br>
                Индекс: {{ result.index }}<br>
                Количество результатов: {{ result.number_of_results }}<br>
            </p>
        {% endfor %}
    </body>
</html>